# Bootstrap
npm install bootstrap@5.3.3

# react-bootstrap
npm install react-bootstrap bootstrap

Add the line below to use bootstrap styles in the whole project.
import 'bootstrap/dist/css/bootstrap.min.css'


# react router dom
npm install react-router-dom@6.4

# fontawsome
npm i --save @fortawesome/fontawesome-svg-core
npm i --save @fortawesome/free-solid-svg-icons
npm i --save @fortawesome/react-fontawesome@latest

npm i @fortawesome/fontawesome-free

# axios
npm install axios

# for sidebar
npm install react-pro-sidebar

# for toasts
npm install react-hot-toast 

# for image resize
# npm install react-image-file-resizer
npm install compress.js --save

# for rich text editor
# npm install --save @mdxeditor/editor 
# # or 
# npm install @tiptap/react @tiptap/pm @tiptap/starter-kit
# # or 
# npm install -S react-draft-wysiwyg , npm install draft-js 
# or
npm install jodit-react --save

# to sanitize html
npm install dompurify

# For Bengali font Noto-Sans, Sherif
# Add the following three lines into "index.html"
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap" rel="stylesheet">

# to add material UI designs
npm install @mui/material @emotion/react @emotion/styled
npm install @mui/icons-material

# to detect language (Bengali or english)
npm i franc-min

# ant design
npm install antd --save
npm install @ant-design/icons --save

# react-query for better state management
npm i react-query

# for table of contents
npm install @mui/x-tree-view
npm install @mui/material @emotion/react @emotion/styled