.searchInput {
    width: 50%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid black;
}

.searchInput :global(.ant-select-selection-placeholder) {
    color: #706f6f !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }

.inputBox{
    width: 50%;
    padding: 13px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid black;
}

.noteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.noteTextArea{
    width: 50%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid black;
}

.inputBox:disabled, .noteTextArea:disabled {
    /* background-color: #f0f0f0;  */
    opacity: 0.4;
    cursor: not-allowed;
}


.noteSubmitBtn{
    width: 20%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #038b0a; /* Green */
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.noteSubmitBtn:hover{
    background-color: #027e09; /* Darker green on hover */
}
.noteSubmitBtn:disabled {
    /* background-color: #ccc;  */
    opacity: 0.6;
    cursor: not-allowed;
}

.errorMessage {
    color: red;
    font-size: 16px;
    margin-top: 3px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .inputBox, .searchInput, .noteTextArea, .noteSubmitBtn {
        width: 100%;
    }
    
}