.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.profileImage{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}