@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&family=Gupter:wght@400;500;700&display=swap');
*{
  font-family: "Averia Libre";
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
.bn{
  font-family: "Noto Serif Bengali", serif;
  font-weight: 600;
  font-size: 20px;
}

.bn2{
  font-family: "Noto Serif Bengali", serif;
  font-weight: 400;
  font-size: 17px;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Galada&display=swap');
